    /*    Play Page Linear Gradient Background Animation  */

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/*    
	Basic Text Styling for :
	- The word to be guessed
	- The wrongly guessed letters
	- The error messages displayed
	- The You Won!/You Lost! messages displayed at the end
*/

h1, h2, h3 {
  font-family: serif;
  color: #377ba8;
  margin: 1rem 0;
}

a {
  color: #377ba8;
}

/*       
	Default Styling for Home & Play Again Buttons 
		at the Game Over Screen
*/

.btn{
  position: relative;
  color: #ffffff;
  font-size: 14px;
  font-family: "montserrat";
  text-decoration: none;
  margin: 30px 0;
  border: 2px solid #ffb700;
  padding: 14px 60px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
}
.btn::before{
  background: #0000ff;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: all 0.6s ease;
}

/*       
	Hovering Animation for the Home Button
*/

.effect_left::before{
  width: 100%;
  height: 0%;
  transform: translate(-50%,-50%) rotate(45deg);
}
.effect_left:hover::before{
  height: 380%;
}

/*       
	Hovering Animation for the Play Again Button
*/

.effect_right::before{
  width: 100%;
  height: 0%;
  transform: translate(-50%,-50%) rotate(-45deg);
}
.effect_right:hover::before{
  height: 380%;
}
