<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Hangman game</title>
    <link rel="shortcut icon" href="/static/Favicon.png">
    <!-- Bootstrap -->
    <link rel="stylesheet"
          href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='main.css') }}">
  </head>
  <body>
    <div class="container text-center">
      <!-- <h1>Hangman game</h1> -->
      <div class="logo"><a href="{{ url_for('home') }}" ><img src = "/static/Hangman-Title.png"></a></div>
      <div class="row vspace" id ="vspacer">

        <div class="col-md-6 col-md-offset-3">

          {% block content %}{% endblock %}

        </div>
      </div>
    </div>

    {% block bottom %}{% endblock %}
    <div class="keyboard" id="keyboard">
      <row class="kbd-row">
        <div class="kbd-letter" id="q"">Q</div>
        <div class="kbd-letter" id="w"">W</div>
        <div class="kbd-letter" id="e"">E</div>
        <div class="kbd-letter" id="r"">R</div>
        <div class="kbd-letter" id="t"">T</div>
        <div class="kbd-letter" id="y"">Y</div>
        <div class="kbd-letter" id="u"">U</div>
        <div class="kbd-letter" id="i"">I</div>
        <div class="kbd-letter" id="o"">O</div>
        <div class="kbd-letter" id="p"">P</div>
      </row>
      <row class="kbd-row">
        <div class="kbd-letter" id="a"">A</div>
        <div class="kbd-letter" id="s"">S</div>
        <div class="kbd-letter" id="d"">D</div>
        <div class="kbd-letter" id="f"">F</div>
        <div class="kbd-letter" id="g"">G</div>
        <div class="kbd-letter" id="h"">H</div>
        <div class="kbd-letter" id="j"">J</div>
        <div class="kbd-letter" id="k"">K</div>
        <div class="kbd-letter" id="l"">L</div>
      </row>
      <row class="kbd-row">
        <div class="kbd-letter" id="z"">Z</div>
        <div class="kbd-letter" id="x"">X</div>
        <div class="kbd-letter" id="c"">C</div>
        <div class="kbd-letter" id="v"">V</div>
        <div class="kbd-letter" id="b"">B</div>
        <div class="kbd-letter" id="n"">N</div>
        <div class="kbd-letter" id="m"">M</div>
      </row>
    </div>
    <div class="phone">
      <row>
      </row>
      <row>

      </row>
      <row>

      </row>
    </div>
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='error.js') }}"></script>
    <script src="{{ url_for('static', filename='keyboard.js') }}"></script>
    <script src="{{ url_for('static', filename='mouse.js') }}"></script>
  </body>
</html>